* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/*---*/
body {
  font-family: "Poppins", sans-serif;
  background-color: #1e1e1e;
}

.container {
  margin: 20px auto;
  width: 1000px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 340px;
  height: 650px;
  background-color: #3e5d2d;
  margin-top: 70px;
  top: 20px;
  position: relative;
  border-radius: 35px;
}

.result {
  height: 120px;
}
.history {
  text-align: right;
  height: 20px;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 15px;
  color: #82879e;
}
.output {
  text-align: right;
  height: 60px;
  margin: 10px 25px;
  font-size: 30px;
}

.keyboard {
  height: auto;
  width: fit-content;
  margin: 0 auto;
}

#operator,
#number,
#equal {
  width: 63px;
  height: 63px;
  margin: 8px;
  float: left;
  border-radius: 35%;
  border-width: 0;
  font-size: 17px;
  cursor: pointer;
  font-family: "Poppins";
  transition: 0.3s;
}
#number {
  background-color: #f7f1d6;
  color: #466633;
}
#number:hover {
  background-color: #f7e8be;
}
#operator {
  background-color: #699452;
  color: #314723;
}
#operator:hover {
  background-color: #72a756;
}

#equal {
  background-color: #b76c4d;
  color: #27381c;
}
#equal:hover {
  background-color: #c47756;
}
#operator:hover,
#number:hover,
#equal:hover {
  transition: 0.2s;
  box-shadow: 0px 10px 14px -1px rgba(33, 52, 21, 0.2);
}
#operator:active,
#number:active,
#equal:active {
  font-size: 13px;
}

#operations {
  width: 110px;
  height: 60px;
  background-color: #f7f1d6;
  color: #466633;
  border-radius: 10%;
  border-width: 0;
  font-size: 17px;
  cursor: pointer;
  font-family: "Poppins";
  transition: 0.3s;
  margin: 8px;
}
.calculator form input {
}
