* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/*---*/
body {
  font-family: "Poppins", sans-serif;
  background-color: #1e1e1e;
}

.container {
  margin: 100px auto;
  width: 1000px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 365px;
  height: 655px;
  background-color: #3e5d2d;
  margin-top: 70px;
  top: 20px;
  position: relative;
  border-radius: 35px;
  box-shadow: 2px 4px 14px 6px rgba(94, 152, 63, 0.11);
}

.result {
  height: 120px;
  padding-bottom: 20px;
}
.history {
  text-align: right;
  height: 20px;
  margin: 0 25px;
  padding-top: 20px;
  font-size: 15px;
  color: rgb(158, 146, 131);
}
.output {
  text-align: right;
  height: 65px;
  margin: 5px 25px;
  font-size: 30px;
  color: antiquewhite;
  background-color: #354b25;
  padding: 15px 20px 0px 0px;
  border-radius: 5px;
}

.keyboard {
  height: auto;
  width: fit-content;
  margin: 0 auto;
}

.operator,
.number,
.equal {
  width: 68px;
  height: 68px;
  margin: 8px;
  float: left;
  border-radius: 35%;
  border-width: 0;
  font-size: 17px;
  cursor: pointer;
  font-family: "Poppins";
  transition: 0.3s;
}
.number.period {
  background-color: #699452;
  color: #314723;
}
.number.period:hover {
  background-color: #72a756;
}
.number {
  background-color: #f7f1d6;
  color: #466633;
}
.number:hover {
  background-color: #f7e8be;
}
.operator {
  background-color: #699452;
  color: #314723;
}
.operator:hover {
  background-color: #72a756;
}

#equal {
  background-color: #b76c4d;
  color: #27381c;
}
#equal:hover {
  background-color: #c47756;
}
.operator:hover,
.number:hover,
#equal:hover {
  transition: 0.2s;
  box-shadow: 0px 10px 14px -1px rgba(33, 52, 21, 0.2);
}
.operator:active,
.number:active,
#equal:active {
  font-size: 13px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn-select {
  width: 115px;
  height: 60px;
  background-color: #f7f1d6;
  color: #466633;
  border-radius: 10%;
  border-width: 0;
  font-size: 17px;
  cursor: pointer;
  font-family: "Poppins";
  margin: 8px;
  text-align: center;
  padding: 0px 15px 0px 20px;
  transition: 0.3s;
}
.btn-select:hover {
  background-color: #f7e8be;
}
.btn-select.active {
  background-color: #f1dda5;
}

.keyboard-item {
  display: none;
}

.keyboard-item.active {
  display: block;
}
